<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      Roosters
    </ion-title>
    <div id="group" *ngIf="apiProvider.online" ion-button (click)="changeGroup()">Klas</div>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <div id="back" *ngIf="apiProvider.online" (click)="back()"><ion-icon name="arrow-back"></ion-icon></div>
  
  <div id="nav">
    <div id="td">
      <div id="timer">{{ time }}</div>
      <div id="date">{{ timetable?.date_f }}</div>
    </div>
  </div>
  
  <div id="next" *ngIf="apiProvider.online" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></div>
  
  <div id="today" *ngIf="apiProvider.online" color="secondary" ion-button (click)="today()">Vandaag</div>

  <div id="spinner" *ngIf="loading" text-center>
    <ion-spinner name="circles"></ion-spinner>
  </div>
  
  <div id="timetable">
    <ion-grid>
      <ion-row *ngFor="let item of timetable?.items">
        <ion-col>

          <ion-grid>
            <ion-row id="tableitem">
              <ion-col>
                {{ item.t }}
              </ion-col>
              <ion-col>
                {{ item.v }}
              </ion-col>
              <ion-col>
                {{ item.l }}
              </ion-col>
              <ion-col>
                {{ item.r }}
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div [hidden]="timetable?.items.length > 0 || loading" text-center>Op dit moment is er nog geen rooster bekend.</div>
</ion-content>
