page-home {
    #group {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        margin: 0px;
    }

    #nav {
        width: 100%;
        padding: 0px 0px 0px 0px;
        height: 100px;
        margin-left: 50px;
    }

    #nav * {
        display: inline-block;
    }

    #timer {
        width: 100%;
        font-size: 24pt;
        text-align: center;
    }

    #date {
        width: 100%;
        font-size: 18pt;
        text-align: center;
        height: 50px;
    }

    #back, #next {
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
    }

    #back {
        top: 15px;
        left: 15px;
    }
    
    #next {
        top: 15px;
        right: 15px;
    }
    
    #today {
        margin: 10px 15px 0px 15px;
        width: calc(100% - 30px);
    }

    ion-icon {
        font-size: 36pt;
    }

    #td {
        width: calc(100% - 110px);
    }

    #timetable {
        text-align: center;
        z-index: 1;
    }

    #tableitem * {
        background-color: color($colors, "light");
        font-weight: 500;
        padding: 10px;
    }

    #spinner {
        position: absolute;
        width: 100%;
        zoom: 4;
        z-index: 2;
    }
}