page-group {
    #spinner {
        position: absolute;
        width: calc(100% - 8px);
        zoom: 4;
        z-index: 2;
    }

    ion-grid, ion-row {
        padding: 0px !important;
    }

    #button {
        width: 100%;
    }
}
