<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      Roosters
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="spinner" *ngIf="loading" text-center>
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <ion-grid id="buttons" *ngIf="!loading">
    <ion-row>
      <ion-col col-33><button id="button" color="secondary" ion-button (click)="call('group')">Klassen</button></ion-col>
      <ion-col col-33><button id="button" color="secondary" ion-button (click)="call('teacher')">Docenten</button></ion-col>
      <ion-col col-33><button id="button" color="secondary" ion-button (click)="call('room')">Lokalen</button></ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-list *ngIf="!loading && groups">
    <ion-item>
      <ion-input placeholder="Zoek" (input)="search()" [(ngModel)]="searchValue" clearInput></ion-input>
    </ion-item>
  </ion-list>
  
  <div id="groups" *ngIf="!loading">
    <div *ngFor="let item of groups">
      <div id="button" color="secondary" ion-button (click)="changeGroup(item)">{{ item }}</div>
    </div>
  </div>
</ion-content>